@font-face {
  font-family: 'BebasNeue';
  src: url(fonts/BebasNeue-Regular.ttf);
}

body {
  margin: 0;
  background-color: black;
  height: 100%;
  width: 100%;
}

.first-half {
  position: absolute;
  top: 0;
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-half > img {
  height: 50%;
  width: 80%;
  object-fit: contain;
}

.second-half {
  position: absolute;
  bottom: 0;
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (orientation: landscape) {
  .second-half {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .second-half {
    flex-direction: column;
  }
}

.button {
  font-size: 35px;
  font-family: "BebasNeue", sans-serif;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  height: 80px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 1px;
}

.button-demo {
  color: #ffa500;;
  border-color: #ffa500;;
}

.button-demo:hover {
  box-shadow: 0 0 5px 2px #ffa500;;
}

@media (hover: none) {
  .button-demo:hover {
    box-shadow: 0 0 0 0;
  }
}
